<div id="home" class="vh-100">
    <div class="mt-3">
      <h1>Bienvenue au Partenariat du lycée</h1>
    </div>

    <div id="flexhome">
      <section>
        <h2>Notre Partenariat</h2>
        <p>Adepro et le lycée Léonard de Vinci de Melun collaborent pour offrir une solution innovante aux étudiants et enseignants.</p>
        <p>En savoir plus :
          <a href="https://www.adepro-consultant.fr/" target="_blank">Adepro</a> |
          <a href="https://www.vinci-melun.org/" target="_blank">Lycée Vinci</a>
        </p>
      </section>

      <section>
        <h2>Pourquoi cette application ?</h2>
        <p>Faciliter la formulation de savons pédagogiques à partir de recettes simples ou avancées.</p>
      </section>

      <section>
        <h2>À qui s'adresse-t-elle ?</h2>
        <p>Aux élèves, enseignants, porteurs de projets ou formateurs dans le domaine de la chimie et de la cosmétique artisanale.</p>
      </section>
    </div>
  </div>